body {
  /* padding-top: 3rem; */
  background: url('/static/imgs/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.modal, .modal-backdrop-custom {
  position: absolute !important;
}

/* Important part */
.modal-dialog-custom{
  overflow-y: initial !important
}
.modal-body-custom{
  height: 250px;
  overflow-y: auto;
}