{% block form %}
<div class="row justify-content-center">
    <div class="col-xs-6 form-group">
        <img id="imgsrc" src="http://placekitten.com/500/199" class="img-thumbnail" alt="Face"  style="height:160px;"> 
    </div>
    <div class="col-xs-6 offset-1 form-group text-right">
        <div class="form-group" method="post" id="exprForm">
            <div class="row">
                <div class="col text-left">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp1" name="expressionRadios" value="-1">
                        <label class="custom-control-label" for="exp1">Não é face</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp2" name="expressionRadios" value="0">
                        <label class="custom-control-label" for="exp2">Não se sabe</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp3" name="expressionRadios" value="1">
                        <label class="custom-control-label" for="exp3">Felicidade/confiança</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp4" name="expressionRadios" value="2">
                        <label class="custom-control-label" for="exp4">Raiva/intimidação</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp5" name="expressionRadios" value="3">
                        <label class="custom-control-label" for="exp5">Sério/crítico</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp6" name="expressionRadios" value="4">
                        <label class="custom-control-label" for="exp6">Apreensão/nervosismo</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp7" name="expressionRadios" checked value="5">
                        <label class="custom-control-label" for="exp7">Tristeza/Sofrimento</label>
                    </div>
                </div>
                <div class="col text-left">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp8" name="expressionRadios" value="6">
                        <label class="custom-control-label" for="exp8">Nojo/Desprezo</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp9" name="expressionRadios" value="7">
                        <label class="custom-control-label" for="exp9">Confusão</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp10" name="expressionRadios" value="8">
                        <label class="custom-control-label" for="exp10">Timidez/Vergonha</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp11" name="expressionRadios" value="9">
                        <label class="custom-control-label" for="exp11">Medo</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp12" name="expressionRadios" value="10">
                        <label class="custom-control-label" for="exp12">Surpresa</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="exp13" name="expressionRadios" value="11">
                        <label class="custom-control-label" for="exp13">Inconsciência/Sono</label>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" id="prev" >Voltar</button>
            <button type="button" class="btn btn-success" id="next" >Confirmar</button>
        </div>
    </div>
</div>
{% endblock %}